.nav-ul {
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: #f9f9fa;
}

.nav-li {
  position: relative;
}

.nav-ntf {
  position: absolute;
  left: 15px;
  bottom: 8px;
  animation: notificationAnimation 3s ease-in-out infinite;
}

.nav-ntfdot {
  display: flex;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background-color: tomato;
  position: absolute;
  right: -8px;
  top: -5px;
}

.nav-point {
  position: relative;
}

@keyframes notificationAnimation {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-2px) rotateY(360deg);
  }
  100% {
    transform: none;
  }
}
@keyframes appearBtnAnimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(-10px);
  }
  100% {
    transform: none;
    opacity: 1;
  }
}
.nav-li {
  transform: translateY(70px);
  animation: appearBtnAnimation 0.8s ease-in-out forwards;
}

.nav-li:nth-child(2) {
  animation-delay: 0.3s;
}
.nav-li:nth-child(3) {
  animation-delay: 0.6s;
}
.nav-li:last-child {
  animation-delay: 0.9s;
}
